.container_one {
    display: flex;
}

.smol {
    max-width:150px;
    max-height:75px;
    padding: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
.label {
    verticle-align: middle;
}

.col {
    border-style: dotted;
    border-width: 2px;
    margin: 20px;
}

div {
    font-size: 12pt;
    text-align: center;
}

p {
    text-align: left;
}