
#title {
    font-size: 30pt;
    text-align: center;

}
#subtitle {
    font-size:15pt;
    text-align: center;

}
div {
    background-color: gray;
}
#li {
    list-style-type: none;
}
.monospaced {
  font-family: monospace;
  text-decoration: underline;
}
