div {
    background-color: brown;
    height: 700px;
    width: 700px;
    padding: 240px;
}

.appText {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 36pt;

}
