div {
    background-color: brown;
    height: 700px;
    width: 700px;
    padding: 20px;
}

.appText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
    font-size: 24pt;

}
